body {
  background-image: linear-gradient(90deg, #43c6ac, #191654);
  font-family: "Montserrat", sans-serif;
  font-family: "Public Sans", sans-serif;
}

header {
  font-size: 5vh;
  font-weight: bolder;
}

header,
.todo-wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  background-color: white;
  padding: 5px;
  border: none;
  font-size: 15px;
}

button {
  background-color: #191654;
  color: white;
  cursor: pointer;
}
button:hover {
  color: #191654;
  border: 1px solid #191654;
  background-color: white;
}

.todo-wrapper input,
.todo-wrapper button {
  padding: 1.5vh;
  font-size: 15px;
}
.todo-wrapper input {
  width: 30vw;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30vw;
  /* background-color: rgb(105, 29, 29); */
}
.todo-div {
  margin: 1.5vh;
  font-size: 1rem;
  padding: 0.5vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-div li {
  flex: 1;
}

.checked-button,
.delete-button,
.edit-button {
  background-color: #43c6ac;
  color: white;
  padding: 1vh;
  cursor: pointer;
  margin: 0vh 0.2vh;
}

.todo-item {
  padding: 0.5vh;
}
.fa-trash,
.fa-pen-square,
.fa-check-square {
  pointer-events: none;
}

.last {
  display: block;
  align-items: center;
  padding: 1vh 2vh;
  margin: 3vh auto;
  min-width: 20vw;
}
.completedTask {
  text-decoration: line-through;
  opacity: 0.5;
}
